@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 231, 237, 231;
  --background-end-rgb: 206, 219, 248;
  --color-primary: #06075d;
  --color-primary-dark:color-mix(in srgb,var(--color-primary),#000 10%);
  --color-primary-darker:color-mix(in srgb,var(--color-primary),#000 25%);
  --color-primary-darkest:color-mix(in srgb,var(--color-primary),#000 40%);
  --color-primary-light:color-mix(in srgb,var(--color-primary),#fff 10%);
  --color-primary-lighter:color-mix(in srgb,var(--color-primary),#fff 25%);
  --color-primary-lightest:color-mix(in srgb,var(--color-primary),#fff 40%);
  --color-secondary: #8CD6E3;
  --color-secondary-dark:color-mix(in srgb,var(--color-secondary),#000 10%);
  --color-secondary-darker:color-mix(in srgb,var(--color-secondary),#000 25%);
  --color-secondary-darkest:color-mix(in srgb,var(--color-secondary),#000 40%);
  --color-secondary-light:color-mix(in srgb,var(--color-secondary),#fff 10%);
  --color-secondary-lighter:color-mix(in srgb,var(--color-secondary),#fff 25%);
  --color-secondary-lightest:color-mix(in srgb,var(--color-secondary),#fff 40%);

  --color-primary-bg:color-mix(in srgb, var(--color-primary) 50%, transparent);
  --color-secondary-bg: color-mix(in srgb, var(--color-secondary) 50%, transparent);

  --color-hover: color-mix(in srgb,var(--color-primary),#000 20%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-primary: rgb(250, 248, 252);
    --color-secondary: rgb(226, 143, 18);
  }
} */

.dark {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --color-primary: #4e307a;
    --color-primary-dark:color-mix(in srgb,var(--color-primary),#000 10%);
    --color-primary-darker:color-mix(in srgb,var(--color-primary),#000 25%);
    --color-primary-darkest:color-mix(in srgb,var(--color-primary),#000 40%);
    --color-primary-light:color-mix(in srgb,var(--color-primary),#fff 10%);
    --color-primary-lighter:color-mix(in srgb,var(--color-primary),#fff 25%);
    --color-primary-lightest:color-mix(in srgb,var(--color-primary),#fff 40%);
    --color-secondary: #05d3ac;
    --color-secondary-dark:color-mix(in srgb,var(--color-secondary),#000 10%);
    --color-secondary-darker:color-mix(in srgb,var(--color-secondary),#000 25%);
    --color-secondary-darkest:color-mix(in srgb,var(--color-secondary),#000 40%);
    --color-secondary-light:color-mix(in srgb,var(--color-secondary),#fff 10%);
    --color-secondary-lighter:color-mix(in srgb,var(--color-secondary),#fff 25%);
    --color-secondary-lightest:color-mix(in srgb,var(--color-secondary),#fff 40%);
  
    --color-primary-bg:color-mix(in srgb, var(--color-primary) 50%, transparent);
    --color-secondary-bg: color-mix(in srgb, var(--color-secondary) 50%, transparent);
  
    --color-hover: color-mix(in srgb,var(--color-primary),#000 20%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* .home-profile-image-container{
  clip-path: polygon(50% 0%, 97% 19%, 85% 45%, 100% 73%, 85% 100%, 10% 96%, 21% 67%, 0% 43%, 13% 10%);
} */
@import url("../libs/styles/home.css");